{% extends 'adminbase.html.twig' %}

{% block title %}Admin Paneli{% endblock %}

{% block sidebar %} {{ include ('admin/sidebar.twig') }}{% endblock %}

{% block navbar %} {{ include ('admin/navbar.twig') }}{% endblock %}

{% block content %}
    {#{{ include('alerts.html.twig') }}#}
    <form name="setting" method="post">
        <div style="width:98%;margin-left:1%;" class="form-panel">
            <div class="panel-heading">
                <ul class="nav nav-tabs nav-justified">
                    <li class="active">
                        <a class="btn btn-primary" data-toggle="tab" style="color:white;text-transform: capitalize;font-weight:bolder;" href="#genel" aria-expanded="true">Genel Bilgiler</a>
                    </li>
                    <li class="">
                        <a class="btn btn-primary" data-toggle="tab" style="color:white;text-transform: capitalize;font-weight:bolder;" href="#emailsw" class="contact-map" aria-expanded="false">Email Server</a>
                    </li>
                    <li class="">
                        <a class="btn btn-primary" data-toggle="tab" style="color:white;text-transform: capitalize;font-weight:bolder;" href="#aboutus" class="contact-map" aria-expanded="false">Hakkımızda</a>
                    </li>
                    <li class="">
                        <a class="btn btn-primary" data-toggle="tab" style="color:white;text-transform: capitalize;font-weight:bolder;" href="#contact" class="contact-map" aria-expanded="false">İletişim</a>
                    </li>

                </ul>
            </div>
            <!-- /panel-heading -->
            <div style="margin-top:50px;" class="panel-body">
                <div class="tab-content">
                    <div id="genel" class="tab-pane active">
                        <div class="form-group ">
                            <label class="control-label col-lg-2"  for="setting_title">Başlık</label>
                            <div class="col-lg-10">
                                <input class="form-control"  type="text" id="setting_title" name="setting[title]" maxlength="100" value="{{ setting.title }}">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-lg-2"  for="setting_description">Açıklama</label>
                            <div class="col-lg-10">
                                <input class="form-control"  type="text" id="setting_description" name="setting[description]" maxlength="255" value="{{ setting.description }}">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-lg-2"  for="setting_keywords">Anahtar Kelimeler</label>
                            <div class="col-lg-10">
                                <input class="form-control"  type="text" id="setting_keywords" name="setting[keywords]" maxlength="255" value="{{ setting.keywords }}">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-lg-2"  for="setting_company">Firma Adı</label>
                            <div class="col-lg-10">
                                <input class="form-control"  type="text" id="setting_company" name="setting[company]" maxlength="255" value="{{ setting.company }}">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-lg-2"  for="setting_address">Adres</label>
                            <div class="col-lg-10">
                                <input class="form-control"  type="text" id="setting_address" name="setting[address]" maxlength="255" value="{{ setting.address }}">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-lg-2"  for="setting_email">E-Mail Adresi</label>
                            <div class="col-lg-10">
                                <input class="form-control"  type="text" id="setting_email" name="setting[email]" maxlength="255" value="{{ setting.email }}">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-lg-2"  for="setting_phone">Telefon</label>
                            <div class="col-lg-10">
                                <input class="form-control"  type="text" id="setting_phone" name="setting[phone]" maxlength="15" value="{{ setting.phone }}">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-lg-2"  for="setting_fax">Fax</label>
                            <div class="col-lg-10">
                                <input class="form-control"  type="text" id="setting_fax" name="setting[fax]" maxlength="15" value="{{ setting.fax }}">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-lg-2"  for="setting_status">Durum</label>
                            <div class="col-lg-10">
                                <select name="setting[status]" class="form-control">
                                    <option value="{{ setting.status }}">
                                        {% if setting.status == 'true' %}
                                            Aktif
                                        {% else %}
                                            Devre Dışı
                                        {% endif %}
                                    </option>
                                    <option value="true">Aktif</option>
                                    <option value="false">Devre Dışı</option>
                                </select>
                            </div>
                        </div>
                        <button style="float:right;margin-top:10px;" class="btn btn-primary">Kaydet</button>
                    </div>
                    <div id="emailsw" class="tab-pane">
                        <div class="form-group ">
                            <label class="control-label col-lg-2"  for="setting_smtpserver">SMTP Sunucu Adresi</label>
                            <div class="col-lg-10">
                                <input class="form-control"  type="text" id="setting_smtpserver" name="setting[smtpserver]" maxlength="100" value="{{ setting.smtpserver }}">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-lg-2"  for="setting_smtpemail">SMTP E-Mail Adresi</label>
                            <div class="col-lg-10">
                                <input class="form-control"  type="text" id="setting_smtpemail" name="setting[smtpemail]" maxlength="255" value="{{ setting.smtpemail }}">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-lg-2"  for="setting_smtppassword">SMTP Sunucu Şifresi</label>
                            <div class="col-lg-10">
                                <input class="form-control"  type="text" id="setting_smtppassword" name="setting[smtppassword]" maxlength="255" value="{{ setting.smtppassword }}">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-lg-2"  for="setting_smtpport">SMPT Sunucu Portu</label>
                            <div class="col-lg-10">
                                <input class="form-control"  type="number" id="setting_smtpport" name="setting[smtpport]" value="{{ setting.smtpport }}">
                            </div>
                        </div>
                        <button style="float:right;margin-top:10px;" class="btn btn-primary">Kaydet</button>
                    </div>
                    <div id="aboutus" class="tab-pane">
                        <div class="form-group ">
                            <label class="control-label col-lg-2"  for="setting_aboutus">Hakkımızda</label>
                            <div class="col-lg-10">
                                <textarea id="abtus" name="setting[aboutus]" rows="10" cols="100">{{ setting.aboutus }}</textarea>
                            </div>
                        </div>
                        <button style="float:right;margin-top:10px;" class="btn btn-primary">Kaydet</button>
                    </div>
                    <div style="margin-top:-25px;" id="contact" class="tab-pane">
                        <div class="form-group ">
                            <label class="control-label col-lg-2"  for="setting_referances">İletişim</label>
                            <div class="col-lg-10">
                                <textarea id="ctc" name="setting[contact]" rows="10" cols="100">{{ setting.contact }}</textarea>
                            </div>
                        </div>
                        <button style="float:right;margin-top:10px;" class="btn btn-primary">Kaydet</button >
                    </div>
                    <div id="ref" class="tab-pane">
                        <div class="form-group ">
                            <label class="control-label col-lg-2"  for="setting_referances">Referanslar</label>
                            <div class="col-lg-10">
                                <textarea id="referances" name="setting[referances]" rows="10" cols="100">{{ setting.referances }}</textarea>
                            </div>
                        </div>
                        <button style="float:right;margin-top:10px;" class="btn btn-primary">Kaydet</button >
                    </div>
                </div>
                <!-- /tab-content -->
            </div>
            <!-- /panel-body -->
        </div>
        <script>
            CKEDITOR.replace('abtus');
            CKEDITOR.replace('ctc');
            CKEDITOR.replace('referances');
        </script>
        <input class="form-control"  type="hidden" id="setting__token" name="setting[_token]" value="ujz6NglPwcqcY77WUVEsZkuuyciPjUoivP0Z1yparUI">
    </form>
{% endblock %}
