{% extends 'frontbase.html.twig' %}

{% block title %}Kanaviçe & Etamin{% endblock %}

{% block header %}
    {{ include ('home/_header.html.twig') }}
    {{ include ('alerts.html.twig') }}
{% endblock %}

{% block main %}
    {{ include ('alerts.html.twig') }}

    <div style="background:white;padding: 30px" class="content" >
    <style>
        @media screen and (max-width: 580px) {
            body {
                font-size: 16px;
                line-height: 22px;
            }
        }

        .wrapper {
            margin: 0 auto;
            padding: 40px;
            max-width: 800px;
        }

        .table {
            margin: 0 0 40px 0;
            width: 100%;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
            display: table;
        }

        @media screen and (max-width: 580px) {
            .table {
                display: block;
            }
        }

        .row {
            display: table-row;
            background: #f6f6f6;
        }

        .row:nth-of-type(odd) {
            background: #e9e9e9;
        }

        .row.header {
            font-weight: 900;
            color: #ffffff;
            background: #2fdab8;
        }

        .row.green {
            background: #27ae60;
        }

        .row.blue {
            background: #2980b9;
        }

        @media screen and (max-width: 580px) {
            .row {
                padding: 14px 0 7px;
                display: block;
            }

            .row.header {
                padding: 0;
                height: 6px;
            }

            .row.header .cell {
                display: none;
            }

            .row .cell {
                margin-bottom: 10px;
            }

            .row .cell:before {
                margin-bottom: 3px;
                content: attr(data-title);
                min-width: 98px;
                font-size: 10px;
                line-height: 10px;
                font-weight: bold;
                text-transform: uppercase;
                color: #969696;
                display: block;
            }
        }

        .cell {
            padding: 6px 12px;
            display: table-cell;
        }

        @media screen and (max-width: 580px) {
            .cell {
                padding: 2px 16px;
                display: block;
            }
        }
    </style>
    <div class="table">
        <div class="row header">
            <div class="cell">
                Ürün Adı
            </div>
            <div class="cell">
                Ürün Fiyatı
            </div>
            <div class="cell">
                Ürün Adedi
            </div>
            <div class="cell">
                Toplam
            </div>
            <div class="cell">
                İşlemler
            </div>

        </div>
        {% if shopcart|length > 0 %}
        {% for cart in shopcart %}

            <div class="row">
                        <div class="cell" data-title="Ürün Adı">
                            <span style="font-weight: bolder ">  {{ cart.urunadi }}</span>
                        </div>
                        <div class="cell" data-title="Ürün Fiyatı">
                            <span style="font-weight: bolder ">{{ cart.fiyat }}</span>
                        </div>
                        <div class="cell" data-title="Ürün Adedi">
                            <span style="font-weight: bolder ">{{ cart.quantity }}</span>
                        </div>
                        <div class="cell" data-title="Toplam">
                            <span style="font-weight: bolder ">{{ cart.total }}</span>
                        </div>

                <div class="cell" data-title="Occupation">
                    <span>{{ include('home/shopcart/_delete_form.html.twig') }}</span>
                </div>
            </div>
        {% endfor %}
        {% else %}
            <div class="row">
                Your Shopcart is Empty
            </div>
        {% endif %}
    </div>
    <div>
    <div style="margin-left:10px;margin-top:25px;font-weight: bolder" class="col">
        <span>Toplam Sepet Tutarı : {{ amount }}</span>
    </div>
    <div style="background: white" class="contact-form">
        <a href="{{ path('orders_new') }}"><span style="padding:10px;font-size:120%"><input type="submit" value="Ürünleri Satın Al" class="myButton"></span></a>
    </div>
    </div>


    </div>

{% endblock %}
{% block footer %} {{ include ('home/_footer.html.twig') }} {% endblock %}