{% extends 'adminbase.html.twig' %}

{% block title %}Ürün Düzenleme{% endblock %}

{% block navbar %} {% include 'admin/navbar.twig' %}{% endblock %}

{% block sidebar %} {% include 'admin/sidebar.twig' %} {% endblock %}

{% block content %}

    <div class="form-panel">
        <h4><i class="fa fa-angle-right"></i> Ürün Düzenle</h4>
        <hr>
        <div class="form">

            <form class="cmxform form-horizontal style-form" name="product" method="post">
                <div id="product">
                    <div class="form-group ">
                        <label class="control-label col-lg-2">Kategori Adı</label>
                        <div class="col-lg-10">
                            <select name="product[subcategoryid]" class="form-control">
                                {% for cat in categories %}
                                    {% if product.categoryid == cat.id %}
                                        {% for category in categories %}
                                            {% if product.subcategoryid == category.id %}
                                                <option value="{{ category.id }}">{{ cat.title }} - {{ category.title }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                {% for cat in categories %}
                                    {% if cat.parentid != '0' %}
                                        {% for category in categories %}
                                            {% if cat.parentid == category.id %}
                                                <option value="{{ cat.id }}">{{ category.title }} - {{ cat.title }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label col-lg-2" for="product_urunadi" class="required">Ürün Adı</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="product_urunadi" value="{{ product.urunadi }}" name="product[urunadi]" required="required" maxlength="255">
                        </div> </div>
                    <div class="form-group ">
                        <label class="control-label col-lg-2" for="product_marka" class="required">Ürün Markası</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="product_marka" value="{{ product.marka }}" name="product[marka]" required="required" maxlength="255">
                        </div> </div>
                    <div class="form-group ">
                        <label class="control-label col-lg-2" for="product_fiyat" class="required">Ürün Fiyatı</label>
                        <div class="col-lg-10">
                            <input type="number" class="form-control" id="product_fiyat" value="{{ product.fiyat }}" name="product[fiyat]" required="required">
                        </div> </div>
                    <div class="form-group ">
                        <label class="control-label col-lg-2" for="product_stok" class="required">Stok Bilgisi</label>
                        <div class="col-lg-10">
                            <input type="number" class="form-control" id="product_stok" value="{{ product.stok }}" name="product[stok]" required="required" maxlength="255">
                        </div> </div>

                    <div class="form-group ">
                        <label class="control-label col-lg-2">Teknik Özellikler</label>
                        <div class="col-lg-10">
                            <textarea id="tko" name="product[teknikozellikler]" rows="10" cols="100">{{ product.teknikozellikler }}</textarea>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label col-lg-2">Diğer Özellikler</label>
                        <div class="col-lg-10">
                            <textarea id="dgo" name="product[digerozellikler]" rows="10" cols="100">{{ product.digerozellikler }}</textarea>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label col-lg-2">Ürün Durumu</label>
                        <div class="col-lg-10">
                            <select name="product[durum]" class="form-control">
                                <option value="{{ product.durum }}">
                                    {% if product.durum == "true" %}
                                        Aktif
                                    {% else %}
                                        Devre Dışı
                                    {% endif %}
                                </option>
                                <option value="true">Aktif</option>
                                <option value="false">Devre Dışı</option>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" id="product__token" name="product[categoryid]" value="{{ product.categoryid }}"></div>
                <input type="hidden" id="product__token" name="product[_token]" value="EUB1lr1fI0RN4itnQHzaDK_-PUkUDcDvZZ0Mk4aVXL8"></div>
        <a style="margin-left:10px" class="btn btn-primary" href="{{ path('product_index') }}">Geri Dön</a>
        <input class="btn btn-info" type="submit" value="Kaydet">

        <script>
            CKEDITOR.replace('tko');
            CKEDITOR.replace('dgo');
        </script>
        </form>

        </div>
    </div>

{% endblock %}
